@import "tailwindcss";

/* TAILWIND v4 ÖZEL RENK TANIMLAMALARI */
@theme {
  --color-acrez-bg: #040f09;
  --color-acrez-accent: #43c46e; /* Ana neon yeşil renk */
  --color-acrez-light: #2e8b4e;
  --color-acrez-dark: #01532b;
}

body {
  background-color: #040f09;
  color: #f4fff8;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Seçim rengi */
::selection {
  background-color: #43c46e;
  color: #040f09;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #040f09;
}
::-webkit-scrollbar-thumb {
  background: #01532b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #43c46e;
}